lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
node_modules

npm-debug.log

.idea/workspace.xml

.idea/brif-api.iml

.idea/encodings.xml

.idea/jsLibraryMappings.xml

.idea/libraries/brif_api_node_modules.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/workspace.xml
